In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt


dataset = load_dataset('lukebarousse/data_jobs')


df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [5]:
median_salary_hour= df['salary_hour_avg'].median()

In [6]:
median_salary_year= df['salary_year_avg'].median()

In [17]:
df_filled = df

df_filled['salary_year_avg'] = df['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df['salary_hour_avg'].fillna(median_salary_hour)

In [24]:
df_filled.loc[0:15,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98
11         115000.0            45.98
12         115000.0            45.98
13         115000.0            45.98
14         115000.0            45.98
15         115000.0            45.98

In [37]:
df_unique = df_filled

df_unique.drop_duplicates()

print('length of org df:',len(df_filled))


print('Length of drop duplicates df:', len(df_unique))
print('Rows Dropped:', len(df_filled) - len(df_unique))

length of org df: 785741
Length of drop duplicates df: 785741
Rows Dropped: 0

In [39]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])
# Assuming df_unique and df_filled are already defined pandas DataFrames
print('length of org df:',len(df_filled))
print('Length of drop duplicates df:', len(df_unique))
print('Rows Dropped:', len(df_filled) - len(df_unique))

length of org df: 785741
Length of drop duplicates df: 508042
Rows Dropped: 277699